@import url(https://fonts.google.com/?query=open+san&selection.family=Open+Sans);

body {
    font-family: 'Open-Sans', sans-serif;
    background-color: #f9fafc;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
    text-decoration: none;
    width: auto;
    padding: 2px;
    margin: auto;
}

button {
    background-color: #000;
    border: none;
    border-radius: 40px;
    width: 100%;
    color: #fff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.hire {
    color: #fff;
}

a{
    text-decoration: none;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
    color: #69696a;
}
a.link{
    color:#69696a;
}
a.visited {
    color: #69696a;
}

p {
    border-left: 2px solid #69696a;
    padding-left: 4px;
    color: #69696a;
}

svg {
    display: none;
}

@media only screen and (min-width: 768px)
{
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;   
        margin-top: 0%;      
}
li a {
    padding: 15px;
}
 header {
   margin-top: 20px;
}
p {
    width: 50%;
}
button {
    display: flex;
    width: auto;
}
.bottom {
    position:absolute;
    bottom:0px;
    height: 10%;
    /*width: 100%;*/
    transform: translateX(0,100%);
    margin-left: 50%;
}
svg {
    display: flex;
    position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 65%;
}
}
